@media print {

	*:not(.pane-title:before) {width:100%!important; float: none;}

	html, body {
	   /*changing width to 100% causes huge overflow and wrap*/
	   background: #FFF;
	   font-size: 9.5pt;
	   padding: 0;
	   margin: 0;
      -webkit-print-color-adjust: exact !important;
	}

	#main-wrapper {
		padding: 0!important;
		margin: 40px 0 0 0!important;
	}

	h1, h2, h3, h4, h5, h6, .title, .pane-title {
		padding: 0!important;
		margin: 0 0 10px 0!important;
	}

	div, .page-careers #content:before, .page-careers #content:after {
		background-image: none;
	}


	.container {
		width: 100%;
	}

	div[class="col-*"] {
		float: none;
	}

	img {
		max-width: 100%!important;
		width: auto!important;
		height: auto!important;
	}

	.pane-related-services, .learn-more-data .related-lawyers, .learn-more-data .related-services, .lawyers-info .lawyer {
		width: 100%;
		float: none;
	}
	#block-views-main-page-slider-slider-block p {
		color: #000!important
	}
	.page-header, .quicktabs_main, .quicktabs-wrapper, .ui-tabs-nav, .quicktabs-tabs, #block-views-main-page-slider-slider-block, #quicktabs-lawyer, .hidden-body, .summary-text, .quicktabs-wrapper .quicktabs_main .pane-lawyer-tabs-lawyer-experience .owl-carousel .views-field-title, .quicktabs-wrapper .quicktabs_main .pane-lawyer-tabs-lawyer-experience .owl-carousel .views-field-field-highlight-title, .quicktabs-wrapper .quicktabs_main .pane-lawyer-tabs-lawyer-experience .owl-carousel .views-field-field-highlight-body {
		padding: 0!important;
		margin: 0!important;
	}

	.hidden-body, .learn-more-data, .node-type-offices .radix-layouts-sidebar {
		display: block!important;
	}

	.owl-carousel {
		border: 0!important;
		display: none!important;
	}
	.owl-carousel .owl-stage-outer {
		-webkit-transform: none!important;
		transform: none!important;
	}
	.owl-stage {
	    width: 950px!important;
	    -webkit-transform: none!important;
	    transform: none!important;
	    .owl-item {
	    	margin-bottom: 10px!important;
	    	float: none!important;
	    	width: 100%!important;
	    	transform: none!important;
	    	padding: 0!important;
	    	margin: 0 0 20px 0!important;
	    }
	}

	.experience-slider-owerview, .view-footer a, .sidebar-menu-affix, .about-us-pane.pane-history, .pb-subscribe-link, .owl-item.cloned, .pb-see-latest-issue, .no-print, .print-btn, body.front video, .owl-controls, .education-link, .experience-slider-learn-more-link, .summary-link, .isotope-filter, .views-exposed-form, #header, .people-search-form, .load-more-pager-wrapper, #breadcrumb, .clear-all-link, #page-language-switch,
	#footer, .sort-by-wrapper, .vcard, .career-more-link, .contact-us-link, .node-type-lawyers, .quicktabs-tabs li:not(.active), .ui-tabs-nav li:not(.ui-state-active), .pager-load-more,.people-search-form, .global-search-form,  .view-chadbourne-global .term-wrapper,  .pane-lawyer-tabs-lawyer-experience   {
		display: none!important;
	}

	.quicktabs-tabs li, .ui-tabs-nav li {
		width: auto!important;
	}

	.views-row {
		page-break-inside: avoid!important;
	}

   a[href]:after, a[href]:before {
     content: none !important;
   }

   // .pane-views-panes {
	  //  page-break-after: always;
   // }
   .page-news .owl-carousel {
   	display: block!important;
   }
  .nav-tabs.primary{
    display: none !important;
  }
  #header{
    display: none !important;
  }
  #navbar-bar{
    display: none !important;
  }
}